@use 'mixins' as *;

html,
body,
#root {
  height: 100%;
}

body {
  @include fluid-text(18, 16);

  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-light);
  background: rgba(var(--color-bg), 0.95);
  margin: 0;
  position: relative;
  min-height: 100vh;

  &::after {
    content: '';
    position: fixed;
    bottom: -50vh;
    left: -50vw;
    right: -50vw;
    height: 100vh;
    background: radial-gradient(ellipse at center, rgba(192, 192, 192, 0.15) 0%, rgba(192, 192, 192, 0) 70%);
    pointer-events: none;
    z-index: -1;
  }

  &.scroll-locked {
    overflow: hidden;
  }
}

html {
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--color-orange) rgba(var(--color-bg), 0.55);
  }
}

:focus-visible {
  outline: 2px dashed var(--color-orange);
  outline-offset: 2px;
}

.visually-hidden {
  @include visually-hidden;
}

.list-layout {
  list-style: none;
  margin: var(--space) 0 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--cards-width)), 1fr));
  gap: 0.5rem;
  width: 100%;
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
  transition-timing-function: ease;
  transition-property: color, background-color, border-color, box-shadow, scale;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  -webkit-user-select: none;
}

dialog {
  -webkit-tap-highlight-color: transparent;
}

.grid {
  @include tag-grid-container;
}

.grid--span-2 {
  grid-column: span 2;
}

.grid--span-3 {
  grid-column: span 3;
}

.grid--span-4 {
  grid-column: span 4;
}
