@use 'mixins' as *;

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 800;
  font-style: italic;
}

h1,
.h1 {
  @include fluid-text(60, 43);
}

h2,
.h2 {
  @include fluid-text(40, 30);
}

h3,
.h3 {
  @include fluid-text(30, 24);
}

h4,
.h4 {
  @include fluid-text(20, 18);
}

span {
  font-weight: 300;
}

.text-center {
  text-align: center;
}
