@use 'mixins' as *;

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
  font-weight: 800;
  font-style: italic;
}

h1,
.h1 {
  @include fluid-text(60, 43);
}

h2,
.h2 {
  @include fluid-text(40, 30);
}

h3,
.h3 {
  @include fluid-text(30, 24);
}

h4,
.h4 {
  @include fluid-text(20, 18);
}

span {
  font-weight: 300;
}

.gemini-gradient {
  font-weight: 800;
  color: transparent;
  -webkit-text-fill-color: transparent;

  background: linear-gradient(
      90deg,
      rgb(66, 133, 244),
      rgb(234, 67, 53),
      rgb(251, 188, 4),
      rgb(52, 168, 83),
      rgb(66, 133, 244)
    )
    0% 0% / 200% text;
  animation: 5s linear 0s infinite normal none running gemini-gradient-shimmer;
}

@keyframes gemini-gradient-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
