@use '/src/styles/mixins' as *;

.header {
  padding-block: 70px;
  border-bottom: var(--border);

  &__container {
    @include flex-center();
    flex-direction: column;
    gap: 2rem;
  }

  &__share-button {
    animation: fadeIn 0.3s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
