:root {
  --font-family-base: "Montserrat", sans-serif;

  --font-p-max: 15;
  --font-p-min: 10;

  --color-light: #ffffff;
  --color-dark: #000000;
  --color-active: rgba(255, 94, 0, 0.5);
  --color-orange: rgb(255, 115, 0);
  --color-glass: rgba(255, 255, 255, 0.2);
  --color-text-active: #ffffff;
  --color-bg: #1f1f1f;

  --border: 1px solid var(--color-light);
  --border-radius-person: 10rem;
  --border-radius: 14px;
  --border-radius-small: 7px;
  --border-radius-large: 45px;

  --container-width: 800px;
  --container-padding-x: 20px;

  --section-padding-y: 70px;

  --cards-width: 500px;

  --transition-duration: 0.2s;

  --navigation-height: 3.5rem;

  --primary-color: #6366f1;
  --primary-color-10: rgba(99, 102, 241, 0.1);
  --background-color: #ffffff;
  --background-color-rgb: 255, 255, 255;
  --text-color: #1f2937;
  --hover-color: rgba(0, 0, 0, 0.05);
  --border-color: rgba(255, 255, 255, 0.3);
  --error-color: rgb(239, 68, 68, 0.2);
  --error-color-text: rgb(239, 68, 68);
  --success-color: #22c55e;
}
