.w-cost-card {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space);
    min-width: 0;
    margin: var(--space);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space);
    min-width: 0;
    flex-shrink: 0;

    &--large-gap {
      gap: var(--space-large);
    }
  }

  &__footer {
    margin-top: var(--space);
    border-top: var(--border-width) solid var(--color-glass);

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: var(--space);
      gap: var(--space-small);
    }
  }

  &__total {
    display: flex;
    justify-content: end;
    margin: 0;
    @include fluid-text(30, 18);
  }
}
