.receipt-preview-modal {
  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--space);
    margin-inline: var(--space);
    text-align: start;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    margin: var(--space-xl) var(--space) 0;
    color: var(--color-light);
    font-weight: 600;

    span {
      color: var(--color-orange);
    }
  }

  &__summary-total {
    color: var(--color-orange);
    font-weight: 700;
    margin-left: var(--space);
    white-space: nowrap;
  }
}
