.receipt-source-modal {
  &__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-l);
    margin-inline: var(--space);
    margin-bottom: var(--space);

    .button {
      flex-direction: column;
    }

    svg {
      color: var(--color-orange);
    }
  }
}
