.arrow {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  &--to-people {
    left: calc(30%);
    bottom: 5rem;
  }

  &--to-cost {
    left: calc(70%);
    bottom: 5rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: bounce 2s infinite;

    span {
      color: var(--color-orange);
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    img {
      width: 48px;
      height: 48px;
      filter: invert(48%) sepia(94%) saturate(2299%) hue-rotate(359deg) brightness(102%) contrast(106%);
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
