.f-receipt-scan-loading {
  display: flex;
  flex-direction: column;
  padding: var(--space);
  gap: var(--space);

  &__text {
    color: var(--color-text-secondary);
  }

  &__icon {
    max-width: var(--button-icon-size);
  }

  &__actions {
    align-self: end;
  }
}
