.split-between-section {
  padding-inline: 0.5rem;

  &__label {
    @include flex-center();
    @include button-reset();
    width: 100%;
    justify-content: space-between;
    gap: 0.5rem;
    margin-block: 1rem;
    font-size: 14px;
    transition: color var(--transition-duration) ease;

    :last-child:is(button) {
      flex: 1;
      justify-content: flex-end;
    }

    @include hover {
      color: var(--color-orange);

      .icon-button {
        color: var(--color-orange);
        filter: drop-shadow(0 0 8px rgba(var(--button-active-surface-rgb), var(--button-active-shadow-alpha)));
      }
    }
  }
}
