.p-items {
  display: flex;
  flex-direction: column;
  gap: var(--space);
  height: 100%;

  &__toolbar {
    width: 100%;
    display: grid;
    gap: var(--space);
    grid-template-columns: repeat(4, 1fr);

    &-title {
      text-align: center;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    align-items: center;
    margin-bottom: calc(var(--navigation-height) - var(--space));
  }

  &__single-payer {
    width: 100%;
    max-width: var(--cards-width);
    margin-inline: auto;
    text-align: center;
  }
}
