.empty-state {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  gap: var(--space);

  &__icon {
    @include flex-center;
    @include fixed-icon-size(var(--empty-state-icon-size));

    color: var(--color-orange);
  }

  a {
    color: var(--color-orange);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
