.empty-state {
  @include flex-center;
  flex-direction: column;
  height: 100%;
  text-align: center;

  &__icon {
    @include flex-center;
    color: var(--color-orange);
  }

  &__title {
    margin: var(--space) 0 var(--space-large);
    color: var(--color-light);
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
    margin-top: 0.5rem;
  }

  p {
    margin: 0 0 1rem;
    line-height: 1.5;
    color: var(--color-light);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  a {
    color: var(--color-orange);
    text-decoration: none;
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
