.navigation {
  position: fixed;
  bottom: 0.5rem;
  left: 1rem;
  right: 1rem;
  height: var(--navigation-height);
  border-radius: var(--border-radius-large);
  border: var(--border);
  background-color: rgba(var(--color-bg), 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--color-text-active);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all var(--transition-duration) ease;
    user-select: none;
    -webkit-user-select: none;

    &.active {
      color: var(--color-orange);
      background: var(--color-glass);
    }

    &:hover {
      background: var(--color-glass);
    }

    &:active {
      transform: scale(0.95);
    }
  }
}
