.p-stats {
  height: 100%;

  &--standalone {
    min-height: calc(90vh - var(--navigation-height));
  }

  &__empty-surface {
    flex: 1;
    min-height: inherit;
    width: 100%;
  }

  &__transfers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
  }

  &__cards {
    display: grid;
    gap: 1rem;
    width: 100%;
    align-items: start;
    margin-bottom: 3.5rem;
  }
}
