.transfer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  .page-section-header {
    width: 100%;
    max-width: var(--cards-width);
    box-sizing: border-box;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 1rem;
  }
}
