@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__circle {
    width: 20px;
    height: 20px;
    border: 2px solid var(--color-orange);
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
  }
}
