.layout {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-xxl);
    padding: var(--space-xl) var(--space);
    padding-bottom: calc((var(--navigation-height) + var(--space)) * 2);
  }
}
