.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: var(--space-x-large);
    padding: var(--space-large) var(--space);
    padding-bottom: calc((var(--navigation-height) + var(--space)) * 2);
  }
}
