.search-input {
  // max-width: 500px;
  margin: 1rem auto;
  position: relative;
  display: flex;
  align-items: center;

  svg {
    position: absolute;
    left: 12px;
    color: var(--color-light);
  }

  input {
    width: 100%;
    padding: 0.75rem 1rem 0.75rem 2.5rem;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s ease;
    background-color: var(--color-glass);
    color: var(--color-light);

    &:focus {
      border-color: var(--color-orange);
    }

    &::placeholder {
      color: var(--color-light);
    }
  }
} 