.w-check-card {
  &__date {
    display: block;
    padding-inline: var(--space);
    font-size: 0.85rem;
    opacity: 0.7;
  }

  &__footer {
    margin-top: var(--space);
    border-top: var(--border-width) solid var(--color-glass);

    &-inner {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: var(--space-s);
      padding: var(--space);
    }
  }
}

.item-card--active .w-check-card__footer {
  border-color: var(--color-orange);
}
