.item-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  color: var(--color-light);
  background: var(--color-glass);
  border: var(--border);
  border-radius: var(--border-radius);

  &[role='button'] {
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
  }

  &--active {
    border-color: var(--color-orange);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space);
    min-width: 0;
    margin: var(--space);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--space-large);
    flex-shrink: 0;
  }
}
