.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-xl);

  &__title-block {
    display: flex;
    align-items: center;
    gap: var(--space-l);
    min-width: 0;
  }

  &__icon-wrap {
    flex-shrink: 0;
    color: var(--color-orange);
    line-height: 0;

    max-width: var(--header-icon-size);
    aspect-ratio: 1/1;

    svg {
      display: block;
    }
  }

  &__text {
    min-width: 0;
  }

  &__title {
    margin: 0;
  }

  &__subtitle {
    color: var(--color-text-secondary);
    opacity: 0.9;
    font-size: 0.875rem;
  }

  &__actions {
    flex-shrink: 0;
  }
}
