.card-stats {
  display: grid;
  justify-items: center;
  gap: var(--space-s);
  color: var(--color-light);
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;

  &__icon {
    max-width: var(--button-icon-size);
    aspect-ratio: 1/1;
    color: var(--color-orange);
  }

  &--sum {
    font-weight: 800;
    font-style: italic;
  }
}
