.toggle-group {
  display: flex;
  flex-direction: column;
  gap: var(--space);

  &__label {
    margin: 0;
    text-align: center;
  }

  &__options {
    display: flex;
    gap: var(--space);
  }

  &__option {
    @include text-ellipsis;
    @include button-surface;

    --button-surface-rgb: var(--button-neutral-surface-rgb);
    --button-background-alpha: var(--button-neutral-background-alpha);
    --button-border-alpha: var(--button-neutral-border-alpha);

    @include flex-center($isInline: true);
    gap: var(--space);
    flex: 1;
    padding: var(--space-medium) var(--space-large);
    color: var(--color-light);
    border-radius: var(--border-radius-small);

    @include hover {
      @include button--active-tokens;
    }

    &--active {
      --button-surface-rgb: var(--button-active-surface-rgb);
      --button-background-alpha: var(--button-active-background-alpha);
      --button-border-alpha: var(--button-active-border-alpha);
    }

    &-icon {
      @include flex-center($isInline: true);
    }

    &-label {
      @include text-ellipsis;
      margin: 0;
      font: inherit;
    }
  }
}
