.toggle-group {
  display: flex;
  gap: var(--space);

  &__option {
    @include button-surface;

    --button-surface-rgb: var(--button-neutral-surface-rgb);
    --button-background-alpha: var(--button-neutral-background-alpha);
    --button-border-alpha: var(--button-neutral-border-alpha);

    @include flex-center($isInline: true);
    gap: var(--space);
    flex: 1;
    padding: var(--space-medium) var(--space-large);
    color: var(--color-light);
    border-radius: var(--border-radius-small);

    @include hover {
      @include button--active-tokens;
    }

    &--active {
      --button-surface-rgb: var(--button-active-surface-rgb);
      --button-background-alpha: var(--button-active-background-alpha);
      --button-border-alpha: var(--button-active-border-alpha);
    }

    &-icon {
      @include flex-center($isInline: true);
    }
  }
}
